body {
  background-color: #FFFAFA;
  margin: 20px;
}

body, li button, ol, ul, .square {
  font-family: 'Montserrat', sans-serif;
}

ol, ul {
  padding-left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #696969;
}

.game-info ol, div {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #696969;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #FFFAFA;
  border: 2px solid #696969;
  float: left;
  font-size: 26px;
  font-weight: bold;
  color: #696969;
  line-height: 34px;
  height: 136px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 136px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #FFFAFA;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

li button {
  font-weight: 300;
  font-size: 11px;
  margin-top: 5px;
  border: 1px solid #696969;
}
